Repository MissouriMRR/IARC-2020, pull requests merged in 2020-11, with the labels that each got.

#205 Merge module algorithm parts
  vision/module/in_frame.py
  vision/module/location.py
Labels: Module, vision

#206 Added module roll function to module_orientation.py
  vision/module/module_bounding.py
  vision/module/module_orientation.py
Labels: Module, enhancement, vision

#208 created mast state and added a pause before landing
  flight/config.py
  flight/flight.py
  flight/states/__init__.py
  flight/states/early_laps.py
  flight/states/to_mast.py
Labels: Mast, feature, flight
