Repository MissouriMRR/IARC-2020, pull requests merged in 2021-02, with the labels that each got.

#223 Feature/benchmark update
  vision/benchmarks/accuracy/bench_module.py
Labels: Module, enhancement, vision

#224 Track persistent obstacles between frames and update pipeline to utilize ObstacleTracker
  vision/obstacle/obstacle_tracker.py
  vision/pipeline.py
Labels: Obstacle, Pipeline, enhancement, vision

#229 Add detailed output, per-file exec time, --quiet, and --draw-centers
  .gitignore
  vision/benchmarks/accuracy/bench_module.py
Labels: Infrastructure, enhancement, vision

#226 Feature/text detector rotation
  flight/utils/Wrapped_LAC.py
  vision/benchmarks/accuracy/runall.py
  vision/text/detect_words.py
Labels: Text, enhancement, vision

#230 Feature/frame testing
  vision/benchmarks/accuracy/bench_module.py
  vision/module/location.py
  vision/obstacle/obstacle_tracker.py
  vision/pipeline.py
Labels: Module, vision

#231 Optimize calc method for num_buckets and adjust getCenter and inFrame requirements
  vision/benchmarks/accuracy/bench_module.py
  vision/module/location.py
Labels: Module, vision
