Repository MissouriMRR/IARC-2020, pull requests merged in 2021-03, with the labels that each got.

#235 Filtered NaN return values and added variable search radius
  vision/module/get_module_depth.py
Labels: Module, bug, enhancement, important, vision

#236 Bag file updates and Benchmark Refactor
  .gitignore
  vision/benchmarks/accuracy/__init__.py
  vision/benchmarks/accuracy/bench_module.py
  vision/benchmarks/accuracy/bench_obstacle.py
  vision/benchmarks/accuracy/bench_pylon.py
  vision/benchmarks/accuracy/bench_text.py
  vision/benchmarks/run_bench.py
  vision/benchmarks/times/__init__.py
  vision/camera/bag_file.py
  vision/common/box_plotter.py
  vision/common/take_picture.py
  vision/module/location.py
  vision/module/module_bounding.py
  vision/obstacle/obstacle_tracker.py
  vision/pipeline.py
  vision/pylon/detect_pylon.py
Labels: Infrastructure, enhancement, refactor, vision

#240 Test module roll
  vision/benchmarks/accuracy/bench_module.py
  vision/module/get_module_depth.py
  vision/module/module_bounding.py
  vision/pipeline.py
  vision/text/detect_words.py
  vision/unit_tests/test_module.py
Labels: Module, enhancement, vision
