Repository MissouriMRR/IARC-2020, pull requests merged in 2021-04, with the labels that each got.

#247 Feature/pipelinetest
  vision/failure_flags.py
  vision/module/module_orientation.py
  vision/module/region_of_interest.py
  vision/obstacle/obstacle_tracker.py
  vision/pipeline.py
Labels: Infrastructure, Pipeline, enhancement, vision

#249 Readjusted bounding boxes
  vision/text/detect_words.py
Labels: Text, vision

#250 Feature/improve image preprocessing
  vision/failure_flags.py
  vision/module/location.py
  vision/obstacle/obstacle_tracker.py
  vision/pipeline.py
Labels: Module, enhancement, important, vision

#253 async pipe
  vision/pipeline.py
Labels: Infrastructure, Pipeline, enhancement, vision

#255 Async pipe
  vision/pipeline.py
Labels: Infrastructure, Pipeline, enhancement, vision

#254 Improve overall text detection reliability and update text benchmark
  vision/benchmarks/accuracy/bench_text.py
  vision/text/detect_words.py
Labels: Text, bug, enhancement, vision

#260 Rework text detection with rotated bounding boxes and rework module location text filter accordingly
  vision/benchmarks/accuracy/bench_module.py
  vision/benchmarks/run_bench.py
  vision/module/location.py
  vision/text/detect_words.py
Labels: Module, Text, enhancement, vision

#261 Resolve mean of empty slice and ragged array numpy warnings
  vision/module/get_module_depth.py
  vision/module/location.py
  vision/module/module_orientation.py
Labels: Module, bug, vision
